/* Alineamientos Generalales */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #223;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #223;
}

h4{
    font-size: 20px;
    color: #223;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    font-weight: 700;
    
}

.section-p1{
    padding:40px 80px;
}

.section-m1{
    margin:40px 0;
}

button.normal{
font-size: 14px;
font-weight: 600;
padding: 15px 30px;
color: #000;
background-color: #fff;
border-radius:4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2;
}

button.blanco{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2;
    }

body{
    width: 100%;
}

/* Header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background: #d3cbbf ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: 999;
    position: sticky;
    top: 0;
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    box-shadow: #223 3px 1px 2px 0px;
    
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #223;
    transition: 0.5s ease;
}

#navbar li a:hover, 
#navbar li a.active{
   color: #539578;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #539578;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#caratula{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#caratula h4{
    padding-bottom: 15px;
}

#caratula h1{
    color: #539578;
}

#caratula button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #539578;
    border: 0;
    padding: 20px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#fecture{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fecture .fe-caja {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
    border: 1px solid rgb(235, 227, 227);
    border-radius: 6px;
    margin: 15px 0;
}

#fecture .fe-caja:hover {
    box-shadow: 10px 10px 54px rgb(84, 77, 220, 0.2);
}

#fecture img{
    width: 100%;
    margin-bottom: 10px;
}

#fecture .fe-caja h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #539578;
    background-color: #fae8e8;
}

#fecture .fe-caja:nth-child(2) h6{
    background-color: #cdebbc;
} 

#fecture .fe-caja:nth-child(3) h6{
    background-color: #d1e8f2;
} 

#fecture .fe-caja:nth-child(3) h6{
    background-color: #cdd4f8;
} 

#fecture .fe-caja:nth-child(5) h6{
    background-color: #f6dbf6;
} 

#fecture .fe-caja:nth-child(6) h6{
    background-color: #fff2e5;
} 

#producto1{
    text-align: center;
}

#producto1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#producto1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#producto1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#producto1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#producto1 .pro .des span{
    color: #606063;
    font-size: 12px;   
}


#producto1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;   
}


#producto1 .pro .des i{
   font-size: 12px;
   color: rgb(246, 209, 28);  
}

#producto1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px; 
    font-weight: 700;  
    color: #088180;
}

#producto1 .pro .carrito{
    color: #2c6d6d;
    width: 40px; 
    height: 40px; 
    font-size: 15px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ebebeb;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}


#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ca1313;
}

#banner button:hover{
background-color: #08966b;
color: #fff;
transition: background-color 0.3s ease, color 0.3s ease;
}

#sm-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sm-banner .banner-caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 680px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-caja2{
    background-image: url("img/banner/b10.jpg");  
}


#sm-banner h4{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

#sm-banner h2{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
}

#sm-banner .banner-caja:hover button{
 background-color: #088180;
 border: 1px solid #088180;
 transition: background-color 0.3s ease, color 0.3s ease;
}